# Folders
00_data/encoding_results/*
00_data/parsing_results/*
00_data/encoding_based_similarity_analysis_results/*
00_data/evaluation_results/*
00_data/keyword_search_results/*
00_data/queries/query_sentences.json
00_data/validation_data/pdfminer_matched_sentences.json

# Jupyter
.ipynb_checkpoints/*

# macOS
.DS_Store

# +----------------------------+
# |    Keep .gitkeep files     |
# +----------------------------+-------------------------------+
# | To keep an empty directory, add a .gitkeep file to it      |
# | and ignore the directory with a wildcard:                  |
# |                                                            |
# |     /path/to/dir/*                                         |
# |                                                            |
# | this will ignore the content but not the director itself.  |
# +------------------------------------------------------------+
!/**/.gitkeep