[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"pdfminer.six" = "*"
sentence-transformers = "*"
easyocr = "*"
levenshtein = "*"
nltk = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
jupyter = "*"
xlsxwriter = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
